<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:usesCleartextTraffic="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.settings.MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
    <uses-feature android:name="android.permission-group.STORAGE" />
    <uses-feature android:name="android.os.storage.action.MANAGE_STORAGE" />
    <uses-feature android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-permission android:name="android.settings.MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION"
        android:requestLegacyExternalStorage="true" />
    <uses-permission android:name="ACTION_MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_y"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_y"
        android:supportsRtl="true"
        android:theme="@style/Theme.PratikHasar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.InovoicesPdfActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GonderilmisManuelFaturalarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GelenManuelFaturalarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ManuelFaturaKesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TaksitSecenekleriActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SanalPosAyarlariParamActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SanalPosAyarlariActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ScanCode3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.ScanCode2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.FaturaPdfGosterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.GelenFaturalarActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.TumAlanAramaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.GecmisAlimlarEkraniActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.UstaListelemeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KesilenFaturalarActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.CariPdfActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SigortaIslemleriActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ZamanliislemlerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.EgzozEmisyonBitisTarihiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.BakimZamaniGelenlerActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.eFaturaKontorYuklemeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.GidenFaturalarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KullaniciListelemeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.KullaniciGuncelleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.IzinAyarlariActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.StokListesiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.HakkimizdaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.UstaTanimlamaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.myapp.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/backup_rules" />
        </provider>

        <activity
            android:name=".ui.PaketGosterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PaketTanimlamaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.StokTanimlamaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.WebviewActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.TumAracBilgiGuncelleActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KayitliAraclarAcActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KapaliKartlarActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.TeslimeHazirActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.BugunAcilanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.eFaturaCariKayitliDegilKesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.FaturaKesActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.eFaturaOnarimActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.eFaturaOlusturActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.EFaturaSistemAyarlariActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KullaniciTanimlamaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.DenemeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SatinAlmaEkraniActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SatinAlMainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.app.lib_name"
                android:host="pratikhasar.com"
                android:pathPrefix="/receipt"
                android:scheme="https"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.CariEkleActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.OdemeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.TahsilatActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MailKampanyaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SmsKampanyaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MailAyarlariActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ScanSonucActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ScanCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.TumHesaplarActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PdfOlusturMekanikActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PdfOlusturActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MekanikKartBilgiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MekanikAcikKartlarActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.Home2Activity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MekanikKartAcActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AracSigortaKartAcActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AracSahibiKartAcActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AracBilgiKartAcActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KartAcActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AcikKartBilgiActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AcikKartlarActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.PlakaBilgiActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.BarkodActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.KayitOlActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>